@import 'variables';

// ===================================================================================

// Configure Vanilla
$vanilla-fontstack-base: $global-font-family;

$vanilla-button-primary-background-color: $primary-color;
$vanilla-button-primary-text-color: #fff;
$vanilla-button-primary-active-background-color: darken($primary-color, 1%);
$vanilla-button-primary-active-text-color: #fff;
$vanilla-button-primary-border: solid 1px $vanilla-button-primary-active-background-color;

// RESET
@import "./vanilla-css/scss/vanilla/core/reset";
// We set native font and basic to use REM
@import "./vanilla-css/scss/vanilla/core/fonts";

// Basic (also some reset merge)
@import "./vanilla-css/scss/vanilla/basic/typography";
@import "./vanilla-css/scss/vanilla/basic/images";
@import "./vanilla-css/scss/vanilla/basic/buttons";

// Grid Layout
@import "./vanilla-css/scss/vanilla/grid/breakpoints";
@import "./vanilla-css/scss/vanilla/grid/flexbox";
@import "./vanilla-css/scss/vanilla/grid/grid";
@import "./vanilla-css/scss/vanilla/grid/grid_extra";
//@import "vanilla/grid/flexbox_utils";
@import "./vanilla-css/scss/vanilla/grid/layout";

// Components
@import "./vanilla-css/scss/vanilla/components/fabs";

// Include general at the end so they can override any other class
//@import "vanilla/core/general";

// ===================================================================================

// EXTRA
@import "agx_fluid_typography";


@include to_breakpoint(small) {
	.grid-margin-when-small {
		.cell:not(:last-child) {
			margin-bottom: 2rem;
		}

	}
}
@include to_breakpoint(medium) {
	.grid-margin-when-medium {
		.cell:not(:last-child) {
			margin-bottom: 2rem;
		}

	}
}

/*:root {
	--logo-font-family: $logo-font-family;
	--primary-color-rgba: rgba($primary-color,.9);
}*/

/*
 * GENERALI
 */

body, h1, h2 {
	color: $global-color;
	font-family: $global-font-family;
	font-weight: 400;
}

p, li, .p {
	margin-top: 1rem;
	line-height: 1.58;
	font-size: 1.2rem;
}

p strong, li strong, a {
	color: $primary-color;
}

a:hover {
	text-decoration: underline;
}

.btn:hover {
	text-shadow: 0 0 2px rgba(255, 255, 255, 0.7);
}

/*
 * PAGINE
 */
.page-empty {
	margin-top: 5rem;
	min-height: calc(100vh - 280px);

	h2 {
		margin-top: 3rem;
	}

}

/*
 * GENERICI
 */

.padding {
	padding: 1rem;
}

@include to_breakpoint(small) {

	.padding-side-on-small {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.order-invert-on-small {
		order: -1;
	}

}


@include to_breakpoint(medium) {

	.padding-side-on-medium {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.order-invert-on-medium {
		order: -1;
	}

}

@include from_breakpoint(small) {

	.cell-border {
		border-left: solid 1px #eee;

		.padding {
			padding-left: 3rem;
		}
	}

}
@include from_breakpoint(medium) {
	.cell-border-on-large
	{
		border-left: solid 1px #eee;

		.padding {
			padding-left: 3rem;
		}
	}
}

/*ul.small {
	li {
		font-size: 1rem;
		margin-top: 0.5rem;
	}
}*/

ul.disc {
	list-style-type: disc;
}

/*
 * SEZIONI
 */

.agx-full-section {
	position: relative;
	min-height: 100vh;
	overflow: hidden;

	.agx-section-inner-centered {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

}

.agx-small-section {
	padding-top: $section-padding;
	padding-bottom: $section-padding;
	position: relative;

	@include fluid-option(padding-top, 320px, 1920px, rem2px(2rem), rem2px($section-padding));
	@include fluid-option(padding-bottom, 320px, 1920px, rem2px(2rem), rem2px($section-padding));

}

.agx-section-title {

	@include to_breakpoint(large) {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	text-align: center;

	h2, .h2 {
		font-size: 3.5rem;
		@include fluid-type(320px, 1920px, rem2px(2rem), rem2px(3.5rem));
	}

	p, .p {
		font-size: 2rem;
		@include fluid-type(320px, 1920px, rem2px(1.4rem), rem2px(2rem));
	}
}

.bg-white {
	background: #fff;
}

.bg-silver {
	background: #f5f5f5;
}


@include to_breakpoint(small) {
	#about-me, .corso-card {
		ul {
			list-style-position: inside;
		}
	}
}

/*
 * CORSO
 */


.agx-corso-section {

	@include to_breakpoint(medium) {
		&:nth-child(even) {
			margin-bottom: 2rem;
		}
	}

	.grid {
		position: relative;
		min-height: 100vh;

		// 1st div

		@include from_breakpoint(large) {

			div:first-child {
				justify-content: flex-end;

				& > .inner {
					margin-right: 3rem;
					@include is_breakpoint(large) {
						margin-right: 2rem;
						margin-left: 1rem;
					}
				}
			}
			div:nth-child(2) > .inner {
				margin-left: 3rem;
				@include is_breakpoint(large) {
					margin-left: 2rem;
					margin-right: 1rem;
				}
			}

		}

	}

	.corso-card {

		display: flex;

		.inner {
			max-width: 500px; // TODO responsive below 500

			@include to_breakpoint(large) {
				padding: 1rem;
			}

			@include is_breakpoint(large) {
				max-width: 500px;
				margin-left: auto;
				margin-right: auto;
			}

		}


		h3 {
			font-size: 3.5rem;
			font-family: $logo-font-family;
			color: $primary-color;
			margin-bottom: 2rem;
			@include is_breakpoint(large) {
				margin-bottom: 1rem;
			}
		}

	}

	.corso-image {
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;

		@include to_breakpoint(medium) {
			padding-bottom: 100%; // square
			order: -1;
		}

		@include is_breakpoint(large) {
			padding-bottom: 66%;
		}

	}
}

.cta-corso {
	margin-top: 2rem;
}

/*
 * TESTO
 */

.padding {

	p:first-child {
		margin-top: 0;
	}

	h4 {
		font-weight: bold;
	}

	h4:not(:first-child) {
		margin-top: 2rem;
	}

}


// https://www.materialui.co/flatuicolors
/*x {
	background-color: #ff5722;
	background-color: #ff6360;
	background-color: #e74c3c; // WOW
	background-color: #3498db; // WOW
	background-color: #1abc9c; // WOW
	background-color: #f1c40f; // non per questa foto
	background-color: #95a5a6; // non per questa foto
}*/
// https://www.materialui.co/socialcolors
//background-color: #0077B5; // OK linkedin

